/* HERO */
.hero{

  animation:fade 1s ease;
}

.hero-contenido{

  display:flex;

  justify-content:space-between;

  align-items:center;

  gap:40px;

  flex-wrap:wrap;
}

.hero-texto{

  flex:1;
}

.tituloHero{

  font-size:55px;

  color:#2d6a4f;

  margin-bottom:20px;

  animation:slideLeft 1s ease;
}

.textoHero{

  font-size:18px;

  line-height:1.8;

  color:#444;
}

.hero-botones{

  margin-top:25px;
}

.hero-botones button{

  margin-right:10px;

  padding:15px 25px;

  font-size:16px;

  transition:0.4s;
}

.hero-botones button:hover{

  transform:scale(1.05);

  background:#2d6a4f;
}

.hero-imagen img{

  width:500px;

  border-radius:20px;

  box-shadow:0 0 25px rgba(0,0,0,0.2);

  animation:slideRight 1s ease;
}

/* TARJETAS */
.cardsInicio{

  display:grid;

  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

  gap:20px;

  margin-top:40px;
}

.inicioCard{

  background:white;

  padding:25px;

  border-radius:20px;

  transition:0.4s;

  box-shadow:0 0 15px rgba(0,0,0,0.1);
}

.inicioCard:hover{

  transform:translateY(-10px);

  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.inicioCard h2{

  color:#2d6a4f;

  margin-bottom:15px;
}

/* CLIMA */
.climaCard{

  margin-top:40px;

  background:linear-gradient(135deg,#2d6a4f,#40916c);

  color:white;
}

#clima{

  margin-top:20px;

  font-size:18px;

  line-height:2;
}

/* TRANSICIONES */
.card{

  transition:0.4s;
}

.card:hover{

  transform:translateY(-5px);

  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.sidebar{

  background:linear-gradient(
  180deg,
  #081c15,
  #1b4332,
  #2d6a4f
  );
}

.sidebar button{

  transition:0.4s;
}

.sidebar button:hover{

  transform:translateX(10px);
}

/* ANIMACIONES */
@keyframes fade{

  from{
    opacity:0;
  }

  to{
    opacity:1;
  }

}

@keyframes slideLeft{

  from{

    opacity:0;
    transform:translateX(-50px);

  }

  to{

    opacity:1;
    transform:translateX(0);

  }

}

@keyframes slideRight{

  from{

    opacity:0;
    transform:translateX(50px);

  }

  to{

    opacity:1;
    transform:translateX(0);

  }

}